asgiref
attrs
beautifulsoup4
certifi
cffi
charset-normalizer
crispy-bootstrap5
Django
django-crispy-forms
django-email
django-environ
h11
idna
numpy
outcome
pandas
pillow
psycopg
psycopg-binary
psycopg2
pycparser
PySocks
python-dateutil
pytz
requests
selenium
six
sniffio
sortedcontainers
soupsieve
sqlparse
trio
trio-websocket
typing_extensions
tzdata
urllib3
websocket-client
wsprotodj-database-url==2.3.0
